<!DOCTYPE html>
<html>
<head>
    <title> About</title>
      <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css"/>
</head>
<body>
    <div class="main-content"> 
    {{>header}}
    <p> This site was created by Shruti Mathews. It uses data from openweathermap.com</p>
    <img src="/img/me.jpeg" alt="hi there" class="portrait"/>
    </div>
    {{>footer}}
</body>


</html>